.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10vh;
	padding: 0 50px;
}

.nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav a {
	padding: 0 10px;
}

.nav a:hover {
	transform: scale(1.05);
}

.active {
	border-bottom: 1px solid #000;
}
